<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IIntegrationBuilders" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://ba62b49d98d94894b85c992574dfff8b.cloudapp.net:8001/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IIntegrationBuilders"
                contract="BuildersWebService.IIntegrationBuilders" name="BasicHttpBinding_IIntegrationBuilders" />
        </client>
    </system.serviceModel>
</configuration>