<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="2.1.1" targetFramework="net452" />
  <package id="log4net" version="2.0.8" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net452" />
  <package id="Ninject" version="3.0.1.10" targetFramework="net452" />
  <package id="Trackmatic.Api.Agent" version="3.0.0" targetFramework="net452" />
  <package id="Trackmatic.Api.Agent.Host" version="3.0.0" targetFramework="net452" />
  <package id="Trackmatic.Rest.Client" version="1.0.121" targetFramework="net452" />
</packages>