<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="core-reporting" connectionString="Data Source=sql.trackmatic.co.za\TRACKMATIC;Initial Catalog=Trackmatic-Reporting;User Id=Trackmatic;Password=Tmsql@cc3ss99;" providerName="System.Data.SqlClient" />
    <add name="finite-reporting" connectionString="Data Source=sql.trackmatic.co.za\TRACKMATIC;Initial Catalog=Trackmatic-Finite;User Id=Trackmatic;Password=Tmsql@cc3ss99;" providerName="System.Data.SqlClient" />
    <add name="team-reporting" connectionString="Data Source=sql.trackmatic.co.za\TRACKMATIC;Initial Catalog=Trackmatic-Team;User Id=Trackmatic;Password=Tmsql@cc3ss99;" providerName="System.Data.SqlClient" />
    <add name="warehouse-reporting" connectionString="Data Source=sql.trackmatic.co.za\TRACKMATIC;Initial Catalog=Trackmatic-Warehouse;User Id=Trackmatic;Password=Tmsql@cc3ss99;" providerName="System.Data.SqlClient" />

    <add name="visibility-reporting" connectionString="Data Source=sql.trackmatic.co.za\TRACKMATIC;Initial Catalog=Trackmatic-Visibility;User Id=Trackmatic;Password=Tmsql@cc3ss99;" providerName="System.Data.SqlClient" />

    <add name="raven-db" connectionString="Url = http://10.10.0.20:8092;user=Administrator;password=lif3@1ntpr3tty" />

    <add name="vortex-profiles" connectionString="Data Source=sql.trackmatic.co.za\TRACKMATIC;Initial Catalog=Vortex-Profiles;Enlist=false;User Id=Trackmatic;Password=Tmsql@cc3ss99;" providerName="System.Data.SqlClient" />

  </connectionStrings>
  <appSettings>

    <add key="vortex/url" value="http://secure.trackmatic.co.za/" />

    <add key="api/url" value="https://rest.trackmatic.co.za/api/v1" />


    <!--<add key="api/url" value="http://rest2.trackmatic.co.za/api/v1" />-->

    <add key="routing/visibility" value="Data Source=sql.trackmatic.co.za\TRACKMATIC;Initial Catalog=Trackmatic-Visibility;User Id=Trackmatic;Password=Tmsql@cc3ss99;" />

    <add key="warehouse-reporting" value="Data Source=sql.trackmatic.co.za\TRACKMATIC;Initial Catalog=Trackmatic-Warehouse;User Id=Trackmatic;Password=Tmsql@cc3ss99;"/>



    <add key="api/username" value="0000000000088" />
    <add key="api/password" value="ovfOP7V0" />
    <add key="mapit/dds" value="10.10.0.50" />
    <add key="mapit/dds/port" value="11188" />
  </appSettings>
</configuration>